{% extends "base.html" %}
{% block content %}

{{company[0] ["name"]}}

<h2>{{ page_title }}</h2>
<p>The formation of the group grew out of a meeting Gandalf had with Thorin in Bree which kindled Thorin's interest in
    recapturing his long lost family inheritance. (Thorin's grandfather had been the King under the Mountain when Smaug
    came and took it.) Remembering that he had once known an adventurous Hobbit on his travels in the Shire, Gandalf
    decided to add Bilbo to their company because he knew that stealth and cunning were preferable to force. Gandalf
    also believed that someone like Bilbo could keep the sometimes prideful and stubborn Dwarves from rash action. The
    superstitious Dwarves also considered thirteen to be an unlucky number, and as Gandalf had planned to leave on other
    business, welcomed a fourteenth to fill into their party.
</p>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Thorin Oankenshield</h3>
        <p> "If more of us valued food and cheer and song above hoarded gold, it would be a merrier world. But, sad or
            merry, I must leave it now. Farewell."
            —The Hobbit, The Return Journey
            <br>
            Thorin II "Oakenshield", eventually called King under the Mountain or Mountain King, was the son of
            Thráin II, the older brother of Frerin and Dís, the grandson of King Thrór and the uncle of Fíli and Kíli.
            Thorin was best known for his deeds as leader of a company that infiltrated the lost Kingdom under the
            Mountain to take it back from Smaug and for leading an alliance of Men, Dwarves, and Elves in the Battle of
            Five Armies.
            <br>
            Thorin II was born in TA 2746 to Dwarf prince Thráin II in the city of the Lonely Mountain. Early in his
            youth, he and the other Dwarves of the Lonely Mountain were forced to flee by the dragon Smaug in TA 2770.
            While in exile, he quickly grew to become a capable warrior. This was demonstrated when he participated in
            the Battle of Azanulbizar in TA 2799. He fought with one of the Dwarven armies beneath the East-gate of
            Moria. At some point in the fighting, his shield broke, and using an oaken tree branch found on the ground
            as a shield, he gained the epithet "Oakenshield," which would remain with him even in death.</p>
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/pjmidearthfilms/images/d/df/THORINKINSHIELD.jpg" alt="">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="https://i.pinimg.com/originals/6d/d1/8f/6dd18f7231547123d271d7b45e2795a9.jpg" alt="">

    </div>
    <div class="col-md-7">
        <h3>Fíli and Kíli</h3>
        <p>Fíli and Kíli were nephews of Thorin, who was the elder brother of their mother, Dís. They were also nephews
            of Frerin, grandsons of Thráin II, and great-grandsons of Thrór. Fíli's most distinguishing feature was his
            long nose, the longest of any of the Dwarves in Thorin's company.

            As the youngest Dwarves, Fíli and Kíli had the sharpest eyes, and were often sent scouting or searching. It
            was they that found the Front Porch while in the Misty Mountains. With the other Dwarves, Fíli and Kíli
            encountered spiders and were later imprisoned by the Elvenking Thranduil. They escaped the cells thanks
            to Bilbo, traveling down the river in barrels until they reached Lake-town. The brothers accompanied
            Thorin and Bilbo to Lake-town while the others rested by the river.

            At the feet of the Lonely Mountain, Fíli and Kíli scouted Ravenhill and found the Front Gate with Balin and
            Bilbo. Also, with Bilbo, they found the side-door leading into the mountain</p>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Glóin</h3>
        <p>Glóin was born in TA 2783, after the dragon Smaug desolated Erebor. He was the younger child of Gróin and
            younger brother of Óin.

            In TA 2799, Glóin was known to have fought in the Battle of Azanulbizar, the last battle of the War of the
            Dwarves and Orcs, though it is unknown how significant his contribution was, being 16 years old.

            In TA 2879, in the Blue Mountains, while in exile, his son Gimli was born to him and an unknown wife. In
            March of TA 2941 in Bree, Thorin Oakenshield met by chance the wizard Gandalf the Grey, pushing Thorin to
            reclaim Erebor, so that Smaug wouldn't ally with Sauron. When Gandalf mentioned Hobbits, Glóin referred them
            as "simpletons" and also said that Hobbits "would never dare to come within smelling distance of the
            nakedest dragonet new from the shell". </p>
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/pjmidearthfilms/images/0/03/GLOINFOBOX.jpeg" alt="">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/5/52/Balin.jpg" alt="">

    </div>
    <div class="col-md-7">
        <h3>Balin</h3>
        <p>Balin was a Dwarf leader, the son of Fundin, and elder brother of Dwalin. He was one of the thirteen Dwarves
            who accompanied Thorin II Oakenshield on the quest to regain the Lonely Mountain.

            A Dwarf Lord known for his wise counsel and willingness to listen, he was one of Thorin's closest friends
            and advisers. Balin was distantly related to him, and a descendant of the noble House of Durin.

            He later went to re-establish the Dwarf presence in Moria, but within five years it was overcome once more
            by Orcs, and he was killed there along with the rest of his companions. </p>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Dwalin</h3>
        <p> "It was a dwarf with a blue beard tucked into a golden belt, very bright eyes under his dark-green hood."
            —The Hobbit describing Dwalin
            <br>
            Dwalin was one of the Dwarves who traveled with Bilbo and Gandalf as a member of Thorin and Company on the
            quest to regain the Lonely Mountain from the Dragon Smaug. He was the brother of Balin and the youngest son
            of Fundin.
            <br>
            Born in TA 2772, two years after the dragon Smaug had desolated Erebor, Dwalin was the son of Fundin and
            younger brother of Balin. After fighting in the Battle of Azanulbizar at the age of 27, Dwalin accompanied
            Thráin II and Thorin Oakenshield to settle peacefully in the northern Ered Luin.

            Later in TA 2841, Dwalin, along with his brother Balin, and a few others accompanied Thráin when he left the
            Ered Luin on a Quest to reclaim Erebor. The small party was dogged by the emissaries of Sauron. In TA 2845,
            Thráin was captured one night when he and his companions sheltered under the eaves of Mirkwood from a black
            rain. After a fruitless search for their king, the Dwarves gave up and returned to Thorin to inform him the
            news. </p>
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/heroes-and-villain/images/2/2b/Dwalin_-_The_Hobbit.jpg" alt="">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/8/81/Ori.jpeg" alt="">

    </div>
    <div class="col-md-7">
        <h3>Ori</h3>
        <p>Ori was a member of Thorin's Company of Dwarves and participated in the Quest of Erebor, as well as fighting
            in and surviving the Battle of Five Armies. He, along with his cousins Dori and Nori, were remote kinsmen
            of Thorin II Oakenshield. </p>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Dori</h3>
        <p>Dori was a Dwarf of Durin's Folk, who, along with his brother Nori and cousin Ori, travelled with Bilbo
            Baggins and Thorin Oakenshield as a member of Thorin's Company on theQuest for Erebor, to reclaim the Lonely
            Mountain from the dragon Smaug.

            Dori was among the Dwarves at Bag End who joined in singing about "blunting the knives" and "bending the
            forks"; as well as accompanying by playing the flute. He was described as “decent fellow despite his
            grumbling”. He often wore a red-violet coat while on the Quest for Erebor. He was noted by Thorin to be the
            strongest of the thirteen companions.</p>
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/8/89/Dori-markhadlow-p.jpg" alt="">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/heroes-and-villain/images/4/4c/Nori(TheHobbit).jpg" alt="">

    </div>
    <div class="col-md-7">
        <h3>Nori</h3>
        <p>Nori, as was his brother Dori, was a capable flutist, and both seem to have carried their flutes with
            them. Both shared Bilbo's liking for regular meals. Before the Quest for the Lonely Mountain, Nori lived in
            Thorin's Halls in the northern Blue Mountains with his two brothers.
            Quest of Erebor

            In TA 2941, Nori, along with Dori and Ori, became part of Thorin and Company, befriending Bilbo Baggins and
            traveling with him in search of Smaug's treasure in the Lonely Mountain. After their experience in
            Goblin-town when the company was pursued by Wargs and Orcs and forced to climb up into some trees, Nori was
            the first realize that Bilbo had been left on the ground and pointed him out to his brother Dori who rescued
            Bilbo.

            Nori did little to distinguish himself during the Dwarves's adventures in the wild, though he shared the
            same array of experiences as the others of the Company: captured in turn by Trolls, Goblins, Spiders, and
            Elves, they eventually reached the distant Lonely Mountain and recovered it for Durin's Folk.

            Nori fought in and survived the Battle of Five Armies and returned to the Lonely Mountain where he
            established himself and grew rich. During the War of the Ring, Nori was still living in the Lonely Mountain,
            and possibly fought in the Battle of Dale against the Easterlings.</p>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Bifur</h3>
        <p> Whilst he was a descendant of the Dwarves of Khazad-dûm, Bifur was not related to the royal House of Durin.
            Most of his familial relations are unclear, and what is known of his parentage is very little. He and his
            family were driven out of their home in the Lonely Mountain by the dragon Smaug, and were forced to live in
            exile, where the Dwarf warrior worked as a toy maker. Following Thorin II Oakenshield to a new life at his
            halls in the Blue Mountains, he continued his life as a toy maker.
            Quest of Erebor

            Answering Thorin Oakenshield's Quest of Erebor, he went to the meeting at Bag End with his cousins Bofur and
            Bombur, where he played the clarinet. On the quest, he was nearly cooked on a spit by Trolls and nearly
            killed by Goblins, Wargs, Stone giants, Great Spiders, and the dragon Smaug himself. A valiant and brave
            warrior, Bifur never gave up, and fought in the Battle of Five Armies with all his strength, killing
            numerous enemies. In the fallout of the great battle, Dáin II Ironfoot gave him his share of the treasure,
            and he retired to live at the Lonely Mountain. </p>
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/b/b5/Bifur.jpg" alt="">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/7/77/Bofur.jpg" alt="">

    </div>
    <div class="col-md-7">
        <h3>Bofur</h3>
        <p>Bofur was not related to the royal House of Durin but was descended from the Dwarves of Khazad-dûm.
            Quest of Erebor

            While answering Thorin Oakenshield's quest to Erebor, Bofur went to the meeting at Bag End with his brother
            Bombur and cousin Bifur. He accompanied Thorin, Gandalf, Bilbo Baggins, and rest of Thorin's Company across
            Wilderland to the Lonely Mountain in order to reclaim the Dwarves' treasure from the dragon Smaug. Following
            the dragon's demise, Bofur participated in and survived the Battle of Five Armies, receiving his fourteenth
            share of the treasure as agreed upon. 
            Later life

            Little is told of his life after the Battle of Five Armies. Glóin reported to Frodo Baggins just before the
            Council of Elrond that Bofur was alive and prospering in Erebor. He may have lived into the early Fourth
            Age, but his time of death is untold. </p>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Bilbo Baggins</h3>
        <p> "If more of us valued food and cheer and song above hoarded gold, it would be a merrier world."
            —Thorin, to Bilbo

            Bilbo Baggins was a Hobbit of the Shire, the main protagonist of The Hobbit and a secondary character in
            The Lord of the Rings.

            Gandalf suggested to Thorin and Company that they hire Bilbo Baggins to be their burglar in the Quest of
            Erebor, and later fought in the Battle of Five Armies. Bilbo was also one of the bearers of the One
            Ring, and the first to voluntarily give it up, although with some difficulty. He wrote many of his
            adventures in a book he called There and Back Again. Bilbo adopted his second-cousin-once-removed Frodo
            Baggins to be his heir after his parents, Drogo Baggins and Primula Brandybuck, drowned in the
            Brandywine River.

            Bilbo was the first hobbit to become famous in the world at large, and one of the few to set foot in the
            Undying Lands. </p>
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/b/b6/The_Hobbit_wallpaper_48.jpg" alt="">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/e/e7/Gandalf_the_Grey.jpg" alt="">

    </div>
    <div class="col-md-7">
        <h3>Gandalf</h3>
        <p> "He wore a tall pointed blue hat, a long grey cloak, and a silver scarf. He had a long white beard and bushy
            eyebrows that stuck out beyond the brim of his hat."
            —The Fellowship of the Ring, "A Long-expected Party"

            Gandalf the Grey, later known as Gandalf the White, and originally named Olórin,
            was an Istar (Wizard), dispatched to Middle-earth in the Third Age to combat the threat of Sauron. He joined
            Thorin II Oakenshield and his company to reclaim the Lonely Mountain from Smaug, helped form the Fellowship
            of the Ring to destroy the One Ring, and led the Free Peoples in the final campaign of the War of the Ring.
        </p>
    </div>
</div>

{% endblock %}